
# configuration files
Code/*/*/Makefile.inc

# backup files
*~

# c++ compiled
*.o
*.s
a.out
main
*.a
*.so


# makefile aux
make.dep

# simulation results
*.dat
*.xml
# latex
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.dvi
*.ps
*.bbl
*.blg
*.synctex.gz